{:title "Apropos Clojure #10 - shadow-cljs",
 :description "shadow-cljs and add-lib plus a reptile demo",
 :video-id "575897217",
 :recording-date #inst "2018-05-15T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
