{:title "Apropos Clojure #11 - who cares about performance?",
 :description
 "performance - who cares? And a more mature but not yet a fully grown reptile",
 :video-id "575901059",
 :recording-date #inst "2018-05-31T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
