{:title "Apropos Clojure #12 - shy community?",
 :description
 "We harsh on everyone, then Eric writes eval - so there is one good thing! Next time, we will have more positive Clojure tech chat.",
 :video-id "575902539",
 :recording-date #inst "2018-06-14T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
