{:title "Apropos Clojure #13 - ions in the garden of deps.edn",
 :description "Datomic ions and adopting deps.edn",
 :video-id "575900222",
 :recording-date #inst "2018-06-28T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
