{:title
 "Apropos Clojure #15 - precious onyx is bought and arrays are being circled",
 :description nil,
 :video-id "575895329",
 :recording-date #inst "2018-08-09T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
