{:title "Apropos Clojure #20 - With Stu Halloway",
 :description
 "Error messages are becoming briefer but Stu is not (yet at least) willing to commit to the term \"beginner friendly\"",
 :video-id "575897588",
 :recording-date #inst "2018-10-18T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
