{:title "Apropos the Conj",
 :description "Mia and Reid will be joining live from the Conj !",
 :video-id "575905106",
 :recording-date #inst "2018-11-29T06:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
