{:title "Apropos Clojure #24",
 :description
 "https://gist.github.com/apropos-cast/abf8b64452ae0ae56cafa333c1eaf4e8",
 :video-id "575893160",
 :recording-date #inst "2019-01-17T06:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
