{:title "Apropos Clojure #25",
 :description
 "Show notes are here: https://gist.github.com/apropos-cast/946199b99ffefbca670e77205945c701",
 :video-id "575899887",
 :recording-date #inst "2019-02-07T06:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
