{:title "Apropos Clojure #26",
 :description
 "Show notes are here: https://gist.github.com/apropos-cast/4d21ae67d7ce425d78e03dc0ef08730f",
 :video-id "575903713",
 :recording-date #inst "2019-03-14T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
