{:title "Apropos Clojure #28",
 :description
 "Apropos notes:\nhttps://gist.github.com/apropos-cast/9cd1ad4d700ce18172a73a7937533cdd",
 :video-id "575890303",
 :recording-date #inst "2019-04-11T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
