{:title "Apropos #30",
 :description
 "Show notes: https://gist.github.com/apropos-cast/c0694ef1fc64f74233b39581bc31d8a1",
 :video-id "575891051",
 :recording-date #inst "2019-07-11T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
