{:title "Apropos Clojure #32",
 :description
 "Welcome!\n\nShow notes: https://gist.github.com/apropos-cast/4489e393e3b29fb586ee494f65b7ce45",
 :video-id "575902162",
 :recording-date #inst "2019-10-03T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
