{:title "Apropos 02-20-2020",
 :description
 "Show notes: https://gist.github.com/apropos-cast/20f98c68dc404be01522a9c4eedf1319\n\nClojure discussion and some of that good, good live coding about",
 :video-id "575902908",
 :recording-date #inst "2020-02-20T06:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
