{:title "Apropos",
 :description
 "Show notes: https://gist.github.com/apropos-cast/59def1ac23269257985d738eef78fc7e",
 :video-id "575905442",
 :recording-date #inst "2020-06-11T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
