{:title "Apropos",
 :description
 "Show notes: https://gist.github.com/apropos-cast/841959661e1a295e7516f8bf822cb22a\n\nClojure discussion and some of that good, good live coding about",
 :video-id "575896511",
 :recording-date #inst "2020-06-11T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
