{:title "Apropos",
 :description
 "Show notes: https://gist.github.com/apropos-cast/25cbac6de07e6dfe983b20d73382b626\nNew Twitter: https://twitter.com/AproposClj",
 :video-id "575891682",
 :recording-date #inst "2020-06-11T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
