{:title "Apropos 30 Sep",
 :description
 "- News: a quick chat about Reveal. Check it out at https://vlaaad.github.io/reveal/\n- REPL session: A game tree for tic-tac-toe. Eric did a great job despite the heckling :)\n- This was our first experiment with Discord, it was good and we will get better and smoother with it as we learn!\n- Finally, thanks for tipping us over the 1k subscribers this month!!\n\nTo join the Discord server, here is an invite that is good for the first 25 to get on board:\nhttps://discord.gg/hgxAyQaeuX",
 :video-id "575894640",
 :recording-date #inst "2020-10-01T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
