{:title "Apropos 14 October 2020",
 :description
 "Demo of Portal by the author Chris Badahdah (https://github.com/djblue) with appropriate grillings and homework from the panel :)\n\nIt's a really great way to explore data that was previously inaccessible. It's in the same space as Reveal and the closed source REBL from the company formerly known as Cognitect.\n\nIt was streamed live on the Apropos discord server which is open to all.\n\nHere is an invite to make it super easy!\nhttps://discord.gg/hgxAyQaeuX",
 :video-id "575899238",
 :recording-date #inst "2020-10-15T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
