{:title "Apropos 11 Nov 2020",
 :description
 "A chatty episode about moving fast (and slow) and breaking things as well as the glorious Malli",
 :video-id "575901829",
 :recording-date #inst "2020-11-12T06:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
