{:title "Apropos Jan 13 2021",
 :description
 "Panel: Mia, Mike, Eric\n\nSubscribe to our channel for more shows!\n\nShow notes: https://gist.github.com/apropos-cast/538f852645c611252d06d71c3bd1a012\n\nDiscord - Join if you want to watch us live or chat! https://discord.com/invite/hGNnK8N\n\nFollow us on Twitter for updates - https://twitter.com/AproposClj",
 :video-id "575895806",
 :recording-date #inst "2021-01-13T06:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
