{:title "Apropos March 10 2021",
 :description
 "Panel: Mia, Mike, Ray, Eric\n\nSubscribe to our channel for more shows!\n\nShow notes: https://gist.github.com/apropos-cast/810beaf9353e014de339172c9bda0444\n\nDiscord - Join if you want to watch us live or chat! https://discord.com/invite/hGNnK8N​\n\nFollow us on Twitter for updates - https://twitter.com/AproposClj",
 :video-id "575921195",
 :recording-date #inst "2021-03-15T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
