{:title "Apropos Clojure #5 - component",
 :description
 "Discussion: Who's using and loving \"component\" systems?",
 :video-id "575901428",
 :recording-date #inst "2018-04-05T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
