{:title "Apropos April 28, 2021",
 :description
 "Panel: Mia, Mike, Ray, Eric\n\nSubscribe to our channel for more shows!\n\nShow notes: https://gist.github.com/apropos-cast/46a3c5a3562f4edba178ae8ef2639d1e\n\nDiscord - Join if you want to watch us live or chat! https://discord.gg/hgxAyQaeuX\n\nFollow us on Twitter for updates - https://twitter.com/AproposClj​",
 :video-id "575889928",
 :recording-date #inst "2021-04-29T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
