{:title "Apropos June 9, 2021",
 :description
 "Panel: Mia, Mike, Ray, Eric plus special guest Martin Kavalar\n\nSubscribe to our channel for more shows!\n\nShow notes: https://gist.github.com/apropos-cast/c4d51dc9955b702db17f1ec1d18f1741\n\nDiscord - Join if you want to watch us live or chat! https://discord.gg/hgxAyQaeuX\n\nFollow us on Twitter for updates - https://twitter.com/AproposClj​",
 :video-id "575906168",
 :recording-date #inst "2021-06-12T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
