{:title "Apropos June 30, 2021",
 :description
 "Panel: Mia, Mike, Ray, Eric\n\nSubscribe to our channel for more shows!\n\nShow notes: https://gist.github.com/apropos-cast/e27e737752bd21f73092e757476e72fd\n\nDiscord - Join if you want to watch us live or chat! https://discord.gg/hgxAyQaeuX\n\nFollow us on Twitter for updates - https://twitter.com/AproposClj​",
 :video-id "575892464",
 :recording-date #inst "2021-06-30T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
