{:title "Apropos July 28, 2021",
 :description
 "Panel: Mike, Ray, Eric\n\nGuests: Michiel and Adrian\n\nShow notes: https://gist.github.com/ericnormand/aefbaace9b3731b26dd4dff770565271\n\nDiscord - Join if you want to watch us live or chat! https://discord.gg/hgxAyQaeuX\n\nFollow us on Twitter for updates - https://twitter.com/AproposClj​",
 :video-id "585335551",
 :recording-date #inst "2021-07-29T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
