{:title "Apropos September 22, 2021",
 :description
 "Panel: Mia, Ray, Eric\n\nShow notes: https://gist.github.com/ericnormand/c8764fe72105bf178f858d8ebe405f20\n\nDiscord - Join if you want to watch us live or chat! https://discord.gg/hgxAyQaeuX\n\nFollow us on Twitter for updates - https://twitter.com/AproposClj​",
 :video-id "614678799",
 :recording-date #inst "2021-09-22T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
