{:title "Apropos October 27, 2021",
 :description
 "Panel: Mia, Ray, Mike, Eric\n\nDiscord - Join if you want to watch us live or chat! https://discord.gg/hgxAyQaeuX\n\nFollow us on Twitter for updates - https://twitter.com/AproposClj​",
 :video-id "640675798",
 :recording-date #inst "2021-10-27T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
