{:title "Apropos Clojure #8 - spec",
 :description "Discussion: usage contexts for spec",
 :video-id "575907285",
 :recording-date #inst "2018-04-26T05:00:00.000-00:00",
 :hosts "Eric, Mia, Mike, and Ray"}
